.catalog {

    &__container {
        background: $textColor;
        padding: 0 98px 0 98px;
        margin-bottom: 86px;
        display: block;
    }

    &__title {
        text-align: center;
        color: $mainColor;
    }

    &__text {
        font-weight: 700;
        margin-left: auto;
        border-bottom: 1px solid $borderColor;
        width: 101px;
        height: 0px;
        padding-bottom: 25px;
        white-space: nowrap;
        margin-bottom: 25px;
    }
}

.watches {

    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        column-gap: 30px;
    }

    &__item {
        background: $backgroundColor;
        padding: 40px 26px;
    }
}

.watch {

    &__title {
        font-weight: 700;
        font-family: $otherFont;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    &__ruble--catalog {
        height: 10px;
    }

    &__img {
        background: $backgroundColor;
        border-radius: 50%;
    }

    &__border {

        position: relative;
        z-index: 2;
        margin-bottom: 18px;

        &::before {
            position: absolute;
            content: "";
            width: calc(100% + 2px);
            height: calc(100% - 2px);
            top: -1px;
            left: -1px;
            background: linear-gradient(270deg, $borderImgColor 0.3%, rgba(226, 208, 196, 0) 99.67%);
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__line {
        width: 30px;
        height: 0px;
        border: 1px solid $strokeColor;
    }

    &__add {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }

    &__addText {
        font-family: $otherFont;
        font-weight: 400;
        line-height: 21px;
        color: $mainColor;
    }
}