.collection {

    &__container {
        background: $backgroundColor;
        position: relative;
        overflow: hidden;
        margin-bottom: 79px;
        padding: 0 100px 0 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__content {
        z-index: 2;
        padding-top: 236px;
        display: flex;
    }

    &__line {
        margin-top: 30px;
    }

    &__texts {
        margin-left: 15px;
    }

    &__main-title {
        white-space: nowrap;
    }

    &__title {
        margin-bottom: 39px;
    }

    &__text {
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 64px;
    }

    &__watches {
        position: relative;
        height: 780px;
        width: fit-content;
    }

    &__watch {
        position: relative;
        z-index: 2;
    }

    &__ellipse {
        position: absolute;
        width: 496px;
        height: 944px;
        left: -160px;
        top: -60px;
        background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, $ellipseColor 100%);
        mix-blend-mode: normal;
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
    }

    &__button {
        background-color: $footerBackgroundColor;
    }
}

.button {
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 26px 38px;
    border: 0;
}

.line {
    width: 50px;
    height: 0;
    border: 1px solid $strokeColor;
}

.watch {

    &__price {
        display: flex;
        column-gap: 10px;
        align-items: center;

        &--collection {
            position: absolute;
            top: 17.5%;
            left: -18%;
        }
    }

    &__diameter {
        display: flex;
        column-gap: 10px;
        align-items: center;
        position: absolute;
        top: 80%;
        right: -15%;
    }

    &__ruble--collection {
        align-self: baseline;
    }

    &__text {
        font-family: $addFont;
        font-weight: 400;
        line-height: 18px;
        color: $mainColor;
    }
}

@media (max-width: 1300px) {
    
    .collection {

        &__container {
            justify-content: center;
        }

        &__content {
            padding-top: 250px;
        }
    }
}

@media (max-width: 770px) {

    .button {
        padding: 20px 30px;;
    }
    
    .watch {

        &__diameter {
            left: -18%;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        &__picture {
            height: 360px;
        }

        &__price--collection {
            left: -30%;
        }

        &__diameter {
            left: -40%;
        }
    }

    .collection {

        &__container {
            padding: 0 6px 0 6px;
            margin-bottom: 20px;
        }

        &__watches {
            height: fit-content;
        }

        &__content {
            padding-top: 20px;
            margin-bottom: 20px;
        }

        &__main-title {
            font-size: $h2FontSize;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__ellipse {
            width: 0;
        }

        &__watch {
            margin-left: 106px;
        }
    }

    .line {
        width: 20px;
    }
}