.footer {

    &__container {
        background-color: $footerBackgroundColor;
        padding: 67px 182px;
    }

    &__logo {
        fill: $textColor;
        margin-bottom: 33px;
    }

    &-menu {
        flex-grow: 1;

        &__title {
            color: $textColor;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin-bottom: 33px;
        }
        
        &__sections {
            display: flex;
            justify-content: space-between;
        }

        &__item {

            font-family: $baseFont;
            font-style: normal;
            font-weight: 400;
            font-size: $pFontSize;
            line-height: 14px;
            color: rgba(255, 255, 255, 0.75);;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 990px) {

    .footer {

        &__container {
            padding: 20px 20px;
        }
    
        &-menu__sections {
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            justify-content: center;
        }

        &-menu__col {

            width: 200px;
            text-align: center;
            margin-bottom: 5px;

            &:first-child {
                flex-basis: 100%;
            }
        }

        &-menu__sections {
            justify-content: space-around;
        }
    }
}

@media (max-width: 770px) {

    .footer {

        &-menu__col {
            width: 150px;
        }
    }
}